img {
    width: 325px;
    height: 475px;
    border: white 3px inset;
    border-radius: 8px;
    margin-top: .5in;
    margin-right: 1.5in;
    margin-left: 1in;
    display: block;
    float: right;
}

.img1 {
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    width: 100px;
    height: 100px;
    float: left;
}

.hr1 {
    margin-top: 1in;
    width: 97%;
    height: 1px;
    outline-style: hidden;
}

.hr2 {
    margin-top: .25in;
    width: 97%;
    height: 10px;
}

.hr3 {
    margin-top: 3in;
}

h2 {
    text-align: center;
    margin-top: 32px;
    font-size: 34px;
    border-bottom: 2px white solid;
    border-top: 2px white solid;
    background-color: #998D9E;
    border-radius: 16px;
}

span {
    background-color: #998D9E;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 12px;
    padding: 4px;
}

.span1 {
    text-align: center;
    font-size: 20px;
    color: black;
}

h1 {
    margin-right: 125px;
    float: right;
    text-align: center;
    padding-top: 62px;
    font-size: 34px;
    font-family: "Times New Roman", serif;
    line-height: 1.4;
}

body {
    padding: 8px;
    background-color: black;
    color: white;
}

header {
    background-color: #343434;
    padding: 10px;
    margin: auto;
    border: 2px white solid;
    border-radius: 18px;
}

.button1 {
    font-family: "Times New Roman", serif;
    font-size: 20px;
    background-color: transparent;
    color: white;
    outline-style: double;
    border: none;
    border-radius: 12px;
}

.p1 {
    font-size: 22px;
    border: 2px white solid;
    border-radius: 10px;
    background: #998D9E;
    width: 5in;
    text-align: center;
    margin-left: 4.25in;
    padding: 10px;
}

h3 {
    text-align: center;
    font-size: 18px;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    line-height: 1.6;
    padding: 2px;
    background-color: #998D9E;
    border-radius: 16px;
}

.h3-1 {
    text-align: center;
    font-size: 24px;
    border-bottom: 1px white solid;
    border-top: 1px white solid;
    line-height: 1.6;
    padding: 2px;
    background-color: #998D9E;
    border-radius: 16px;
    margin-top: 1px;
}

div {
    background-color: #343434;
    border: 1px white solid;
    border-radius: 16px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    margin-right: 200px;
    padding: 4px;
    float: right;
    text-align: center;
    font-size: 34px;
    font-family: "Times New Roman", serif;
    line-height: 1.4;
    background-color: #998D9E;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 12px;
}

.description {
    font-size: 20px;
    background-color: #998D9E;
    border-top: 2px white solid;
    border-bottom: 2px white solid;
    border-radius: 12px;
    padding-top: 10px
}

.experience {
    font-size: 20px;
}

.title {
    font-size: 28px;
    padding-bottom: 6px;
}

.resume1 {
    color: white;
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 3in;
    margin-left: 1in;
}
.box {
    background-color: #998D9E;
    padding: 20px;
    border-radius: 10px;
}

.container1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 3in;
}

.box1 {
    background-color: #998D9E;
    padding: 20px;
    border-radius: 10px;
}
